body {
}

#wrapper {
    width: 1000px;
    border: thin solid #000000;
    margin: 0 auto;
}

header {
    height: 200px;
    background-color: #a2b9bc;
}

nav {
    height: 75px;
    background-color: #b2ad7f;
    padding-left: 50px;
    padding-top: 50px;
}

main {
    min-height: 400px;
    background-color: #878f99;
    padding-left: 20px;
}

footer {
    height: 50px;
    background-color: #a2b9bc;
}

h1 {
    padding-left: 15px;
}