@model IEnumerable<PartyInvitesf2020.Models.GuestResponse>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListResponses</title>
</head>
<body>
    <h2>Here is the list of people attending the party</h2>

    <table>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            @foreach(PartyInvitesf2020.Models.GuestResponse r in Model)
            {
                <tr>@r.Name</tr>
                <tr>@r.Email</tr>
                <tr>@r.Phone</tr>
            }

        </tbody>
    </table>
</body>
</html>
