
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <div>
        @ViewBag.Greeting World (from the view)
        <p>
            We're going to have an exciting party. <br />
            (To do: sell it better. add pictures or something)
        </p>
        <a asp-action="RsvpForm">RSVP Now</a>
    </div>
</body>
</html>
