
@{
    ViewData["Title"] = "BadSites";
}

<h2>Bad Websites</h2>
<p>
    <a href="http://www.arngren.net/">Bad Website 1</a>
    <a href="https://www.theworldsworstwebsiteever.com/">Bad Website 2</a>
</p>
